<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
   
  <style>
    .container1 {
      display: inline-block;
      border: 2px solid red;
      width: 400px;
      margin-left: 50px;
      padding: 20px;
    }
    .container2 {
      display: inline-block;
      border: 2px solid red;
      width: 400px;
      margin-left: 50px;
      padding: 20px;
    }

    a {
     
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }
    h3{
      text-align: center;
    }
  </style>
</head>

<body>
  <h1>Welcome to the Application</h1>
  <div class="container1">
         <h3> For registration</h3>
    <a href="/company/register"> Go to company  </a><br>
    <a href=" /department/register">Go to department</a><br>
    <a href="/employee/register">Go to employee</a>
  </div>
  <div class="container2">
    <h3> For Edit/update</h3>
    <a href="editOrDelete"> Click for Editing/Updating details</a><br>
   
  </div>
</body>

</html>